@charset "UTF-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li,
ol,
dl,
dt,
dd,
input,
figure,
figcaption {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  border: 0;
}

input {
  outline: none;
}

body {
  font-size: 12px;
  font: 12px/200% 'microsoft yahei', '微软雅黑', Helvetica, Arial, Tahoma, "黑体", '宋体', sans-serif;
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #666;
}

header,
footer,
nav,
main,
section,
aside,
article,
figure,
figcaption {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

a {
  display: block;
}

a:hover {
  color: #b28247;
}

.content {
  width: 1210px;
  margin: 0 auto;
}

html, body {
  height: 100%;
}

/* 广告 */
.ad_top {
  width: 100%;
  height: 80px;
  background: #4200de;
  position: relative;
  z-index: 100;
}

.ad_top img {
  margin: 0 auto;
}

/*header*/
.s_menu {
  height: 30px;
  background: #f2f2f2;
  position: relative;
  z-index: 100;
}

.s_menu .content ul.fl {
  height: 30px;
}

.s_menu .content ul.fl > li {
  float: left;
  height: 30px;
}

.s_menu .content ul.fl > li:nth-of-type(1) {
  line-height: 14px;
  width: 110px;
  height: 14px;
  border-right: 1px solid #dfdfdf;
  font-size: 0;
  margin-top: 8px;
}

.s_menu .content ul.fl > li:nth-of-type(1) span {
  width: 16px;
  height: 14px;
  background: url(../images/index/home.png) no-repeat;
}

.s_menu .content ul.fl > li:nth-of-type(1) a {
  font-size: 12px;
  margin-left: 7px;
  display: inline;
}

.s_menu .content ul.fl > li span {
  display: inline-block;
  vertical-align: top;
}

.s_menu .content ul.fl > li:nth-of-type(2) {
  padding-left: 6px;
}

.s_menu .content ul.fl > li:nth-of-type(2) span {
  width: 25px;
  height: 30px;
  background: url(../images/index/brandstore_share.png) no-repeat -348px -338px;
}

.s_menu .content ul.fl > li:nth-of-type(2) a {
  font-size: 12px;
  line-height: 30px;
  display: inline;
}

.s_menu .content ul.fr {
  color: #666;
  height: 30px;
  width: 600px;
}

.s_menu .content ul.fr > li {
  float: right;
}

.s_menu .content ul.fr > li > a {
  line-height: 12px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.s_menu .content ul.fr > li:nth-of-type(5) {
  width: 100px;
}

.s_menu .content ul.fr > li:nth-of-type(5) > a {
  width: 44px;
  border-right: 1px solid #dfdfdf;
  text-align: left;
  float: right;
}

.s_menu .content ul.fr > li:nth-of-type(5) > a:hover {
  color: #f00;
}

.s_menu .content ul.fr > li:nth-of-type(4) {
  width: 88px;
  text-align: right;
  position: relative;
}

.s_menu .content ul.fr > li:nth-of-type(4) > a {
  float: right;
  padding-right: 18px;
  border-right: 1px solid #dfdfdf;
}

.s_menu .content ul.fr > li:nth-of-type(4) span {
  display: block;
  width: 22px;
  height: 24px;
  background: url(../images/index/youli.gif) no-repeat;
  position: absolute;
  top: 0;
  left: 17px;
}

.s_menu .content ul.fr > li:nth-of-type(3) {
  width: 130px;
  background: url(../images/index/brandstore_share.png) no-repeat -253px -436px;
}

.s_menu .content ul.fr > li:nth-of-type(3).five_boxShadow {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.s_menu .content ul.fr > li:nth-of-type(3) > a {
  padding-left: 15px;
}

.s_menu .content ul.fr > li:nth-of-type(3):hover {
  background-position: -253px -464px;
}

.s_menu .content ul.fr > li:nth-of-type(3):hover > a {
  color: #f00;
}

.s_menu .content ul.fr > li:nth-of-type(3) > ul {
  display: none;
  width: 130px;
  height: 150px;
  background: #fff;
  text-align: center;
}

.s_menu .content ul.fr > li:nth-of-type(3) > ul li {
  height: 30px;
  line-height: 30px;
}

.s_menu .content ul.fr > li:nth-of-type(3) > ul li a {
  color: #757272;
}

.s_menu .content ul.fr > li:nth-of-type(3) > ul li a:hover {
  color: #f00;
}

.s_menu .content ul.fr > li:nth-of-type(2) {
  width: 85px;
  height: 30px;
}

.s_menu .content ul.fr > li:nth-of-type(2) a {
  text-align: center;
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.s_menu .content ul.fr > li:nth-of-type(1) {
  width: 106px;
  padding: 0 11px;
  background: url(../images/index/brandstore_share.png) no-repeat -208px -369px;
}

.s_menu .content ul.fr > li:nth-of-type(1) a {
  padding-left: 5px;
}

.s_menu .content ul.fr > li:nth-of-type(1):hover {
  background-position: -208px -404px;
}

.s_menu .content ul.fr > li:nth-of-type(1):hover a {
  color: #f00;
}

.s_menu .content ul.fr > li:nth-of-type(1).five_boxShadow {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.s_menu .content ul.fr > li:nth-of-type(1) > div {
  display: none;
  width: 106px;
  height: 152px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 9999;
}

.s_menu .content ul.fr > li:nth-of-type(1) > div img {
  width: 106px;
  height: 111px;
}

.s_menu .content ul.fr > li:nth-of-type(1) > div h5 {
  line-height: 20px;
  font-size: 13px;
}

.s_menu .content ul.fr > li:nth-of-type(1) > div p {
  line-height: 20px;
  font-size: 13px;
}

.s_menu .content ul.fr > li:nth-of-type(1) > div p span {
  color: #d00000;
  font-size: 16px;
}

/* 搜索 */
div.search {
  height: 110px;
  position: relative;
  z-index: 99;
  background: #fff;
}

div.search .content {
  position: relative;
}

div.search .content h1 {
  width: 244px;
  height: 110px;
}

div.search .content h1 img {
  width: 100%;
}

div.search .content h2 {
  width: 142px;
  height: 80px;
  margin-top: 14px;
  margin-left: 46px;
  margin-right: 55px;
}

div.search .content .search_center {
  margin-top: 36px;
}

div.search .content .search_center form {
  width: 343px;
  padding: 2px 2px;
  background: #c69c6d;
  height: 34px;
}

div.search .content .search_center form input {
  width: 260px;
  height: 34px;
  line-height: 34px;
  vertical-align: middle;
  border: none;
  background: #fff;
  padding-left: 3px;
  float: left;
}

div.search .content .search_center form button {
  width: 80px;
  height: 34px;
  border: none;
  float: left;
  color: #fff;
  font-size: 15px;
  background: none;
}

div.search .content .search_center ul li {
  float: left;
  color: #999;
  font-size: 12px;
  padding-right: 25px;
  line-height: 32px;
}

div.search .content .search_center ul li a:hover {
  color: #d00000;
}

div.search .content h3 {
  position: absolute;
  top: 35px;
  right: 123px;
  width: 200px;
  height: 30px;
  background-size: 100% 100%;
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

div.search .content .shoppingCart {
  width: 290px;
  position: relative;
  margin-top: 35px;
  z-index: 99;
}

div.search .content .shoppingCart .cartImg {
  width: 94px;
  height: 32px;
  line-height: 32px;
  text-indent: 3.8em;
  border: 1px solid #ccc;
  color: #666;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background: url(../images/index/brandstore_share.png) no-repeat -376px -405px;
}

div.search .content .shoppingCart .cartImg img {
  position: absolute;
  left: 10px;
  top: 2px;
}

div.search .content .shoppingCart .cartImg span {
  color: #d00000;
}

div.search .content .shoppingCart .cartNotice {
  display: none;
  clear: both;
  width: 268px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 34px;
}

div.search .content .shoppingCart em {
  width: 94px;
  height: 3px;
  display: none;
  position: absolute;
  background: #fff;
  right: 1px;
  top: 32px;
  z-index: 1;
}

div.masking {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 88;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: black;
  opacity: 0.5;
}

/* 导航 */
nav {
  position: relative;
  z-index: 95;
  width: 100%;
  height: 38px;
  background: url(../images/index/navi_1pxbg.png) repeat-x;
  vertical-align: middle;
  border-bottom: solid rgba(0, 0, 0, 0.3) 2px;
}

nav ul.fl > li {
  float: left;
  z-index: 200;
  font-size: 14px;
  text-align: center;
  width: 82px;
  height: 40px;
  line-height: 40px;
}

nav ul.fl > li:first-child {
  width: 130px;
}

nav ul.fl > li:first-child > a {
  width: 130px;
  background: url(../images/index/lux_index.png) -8px -215px no-repeat;
  color: #fff;
  font-weight: bold;
}

nav ul.fl > li:first-child > div.drop_down {
  width: 130px;
  display: none;
  min-height: 585px;
  position: relative;
  z-index: 100;
  vertical-align: top;
}

nav ul.fl > li:first-child > div.drop_down > ul > li {
  vertical-align: top;
  position: relative;
  width: 130px;
  z-index: 100;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .group {
  height: 36px;
  text-align: left;
  line-height: 36px;
  margin: 0 auto;
  position: relative;
  padding-left: 48px;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .group i {
  position: absolute;
  right: 2px;
  top: 2px;
  height: 34px;
  width: 20px;
  display: none;
  background: url(../images/index/share02.png) no-repeat -304px -33px;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show {
  width: 800px;
  background-color: #ffffff;
  position: absolute;
  left: 130px;
  top: 0px;
  min-height: 220px;
  display: none;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show h2 {
  float: left;
  color: #CF0201;
  width: 105px;
  font-size: 14px;
  font-weight: bold;
  padding-left: 25px;
  text-align: left;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show h2 a {
  color: #CF0201;
  font-weight: bold;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .showshop {
  background-color: #fff;
  min-width: 605px;
  max-width: 750px;
  border-bottom: #d7d7d7 1px solid;
  margin: 10px 0px 10px 20px;
  float: left;
  clear: both;
  overflow: hidden;
  line-height: 25px;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .showshop .showbag {
  max-width: 500px;
  min-height: 25px;
  line-height: 25px;
  float: left;
  display: block;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .showshop .showbag a {
  color: #757272;
  font-size: 12px;
  float: left;
  margin-right: 10px;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .showindex {
  float: left;
  padding-left: 25px;
  width: 590px;
  height: 70px;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .showindex a {
  display: block;
  width: 115px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #cf0201;
  margin-top: 20px;
  float: left;
  margin-left: 20px;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty {
  float: left;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty .beautytop {
  border-bottom: #d7d7d7 1px solid;
  margin: 10px 0px 0px 20px;
  float: left;
  width: 100%;
  line-height: 23px;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty .beautytop .show {
  width: 560px;
  float: left;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty .beautytop .show .show_part {
  float: left;
  width: 50%;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty .beautytop .show .show_part h3 {
  font-style: normal;
  text-align: left;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty .beautytop .show .show_part h3 a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty .beautytop .show .show_part ul {
  line-height: normal;
  text-align: left;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty .beautytop .show .show_part ul li {
  padding-right: 10px;
  float: left;
  color: #999999;
  background: #fff;
  border: 0px;
  line-height: 24px;
}

nav ul.fl > li:first-child > div.drop_down > ul > li .menu_show .beauty .beautytop .show .show_part ul li a {
  display: inline;
  color: #999;
  font-size: 12px;
}

nav ul.fl > li > a {
  height: 38px;
  color: #c8a985;
}

nav ul.fl > li > a:hover {
  color: #fff;
}

nav ul.fl > li.fashion {
  position: relative;
  width: 77px;
  padding-right: 5px;
}

nav ul.fl > li.fashion a {
  text-align: right;
}

nav ul.fl > li.fashion i {
  position: absolute;
  left: 23px;
  top: 0;
  width: 19px;
  height: 40px;
  background: url(../images/index/share02.png) no-repeat -58px -169px;
}

nav ul.fr {
  margin-right: 15px;
}

nav ul.fr > li {
  float: left;
  margin-right: 12px;
}

nav ul.fr > li > a {
  width: 30px;
  height: 40px;
  line-height: 40px;
  margin-right: 3px;
  background: url(../images/index/share02.png) no-repeat;
}

nav ul.fr > li:nth-child(1) a {
  background-position: -237px -66px;
}

nav ul.fr > li:nth-child(2) a {
  background-position: -296px -66px;
}

nav ul.fr > li:nth-child(3) a {
  background-position: -354px -66px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(1) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -3px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(1) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -3px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(2) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -35px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(2) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -35px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(3) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -67px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(3) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -67px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(4) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -99px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(4) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -99px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(5) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -131px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(5) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -131px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(6) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -163px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(6) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -163px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(7) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -195px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(7) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -195px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(8) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -227px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(8) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -227px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(9) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -259px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(9) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -259px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(10) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -291px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(10) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -291px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(11) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -323px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(11) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -323px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(12) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -355px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(12) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -355px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(13) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -387px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(13) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -387px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(14) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -419px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(14) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -419px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(15) > div.group {
  background: #fff url(../images/index/brand_category1.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -451px;
}

nav .content ul.fl > li > div.drop_down > ul > li:nth-of-type(15) > div.group:hover {
  background: #fff url(../images/index/brand_category2.png) 15px no-repeat;
  background-position-x: -3px;
  background-position-y: -451px;
}

nav > .content > a {
  float: right;
  width: 100px;
  height: 38px;
  background: url(../images/index/overseaslogo.gif) no-repeat;
  background-size: 100% 100%;
}

/*banner*/
.slider {
  width: 100%;
  height: 520px;
  position: relative;
  overflow: hidden;
}

.slider .list {
  height: 520px;
  position: absolute;
  left: 0;
  -webkit-transition: left .3s;
  transition: left .3s;
}

.slider .list li {
  height: 520px;
  float: left;
}

.slider .list li img {
  width: 100%;
}

.slider .leftRight {
  width: 1000px;
  height: 520px;
  margin: 0 auto;
  position: relative;
  z-index: 85;
}

.slider .leftRight .btn {
  width: 30px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.slider .leftRight .prev {
  left: 0;
}

.slider .leftRight .next {
  right: 0;
}

.slider .pagination {
  width: 168px;
  height: 16px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -84px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.slider .pagination li {
  width: 12px;
  height: 12px;
  display: block;
  float: left;
  margin: 2px 6px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider .pagination li.focus {
  background: #f00;
}

/* main */
main.content {
  margin-bottom: 50px;
  /* 品牌旗舰 */
  /* hotstore */
  /* lifestyle */
  /* 时尚鞋服 */
  /*storesame*/
  /* promotion */
}

main.content div.brand {
  margin-top: 40px;
}

main.content div.brand img {
  margin-bottom: 28px;
}

main.content div.brand ul li {
  float: left;
  width: 234px;
  height: 329px;
  margin-right: 10px;
}

main.content div.brand ul li:last-child {
  margin-right: 0;
}

main.content div.brand ul li a {
  width: 234px;
  height: 329px;
  position: relative;
}

main.content div.brand ul li a div.brandship_tbox {
  position: absolute;
  bottom: 1px;
  left: 30px;
  width: 174px;
  height: 154px;
  overflow: hidden;
}

main.content div.brand ul li a div.brandship_tbox .brand_hide {
  background: #fff;
  width: 106px;
  height: 154px;
  position: absolute;
  top: 100px;
  padding: 0 34px 0 34px;
  -webkit-transition: top .3s;
  transition: top .3s;
}

main.content div.brand ul li a div.brandship_tbox .brand_hide img {
  width: 60px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 3px;
}

main.content div.brand ul li a div.brandship_tbox .brand_hide p {
  font-size: 14px;
  color: #000;
  text-align: center;
}

main.content div.brand ul li a div.brandship_tbox .brand_hide .splitline {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

main.content div.brand ul li a div.brandship_tbox .brand_hide .splitline .blackbar {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #000;
  vertical-align: top;
}

main.content .hotstore .hotstore_title {
  height: 60px;
}

main.content .hotstore .hotstore_title h2 img {
  width: 230px;
  height: 60px;
}

main.content .hotstore .hotstore_title .hotarrowbtn {
  padding-top: 23px;
  padding-right: 15px;
}

main.content .hotstore .hotstore_title .hotarrowbtn a {
  display: inline-block;
}

main.content .hotstore .hotstore_title .hotarrowbtn a span {
  display: inline-block;
  width: 8px;
  height: 15px;
}

main.content .hotstore .hotstore_title .hotarrowbtn a span.hot_pre {
  background: url(../images/index/share02.png) no-repeat -160px -384px;
}

main.content .hotstore .hotstore_title .hotarrowbtn a span.hot_next {
  background: url(../images/index/share02.png) no-repeat -180px -384px;
  margin-left: 20px;
}

main.content .hotstore div.storeSlider {
  width: 1210px;
  height: 180px;
  overflow: hidden;
  position: relative;
}

main.content .hotstore ul#hotStore {
  width: 3630px;
  height: 180px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main.content .hotstore ul#hotStore > li {
  width: 1210px;
  height: 180px;
  height: 180px;
  float: left;
}

main.content .hotstore ul#hotStore > li > section.hotflagson {
  position: relative;
  float: left;
  width: 107px;
  height: 55px;
  padding: 14px 29px;
  border: 1px solid #dfdfdf;
  margin-right: 6px;
  margin-bottom: 7px;
}

main.content .hotstore ul#hotStore > li > section.hotflagson > img {
  width: 107px;
  height: 54px;
}

main.content .hotstore ul#hotStore > li > section.hotflagson:nth-child(7n) {
  margin-right: 0;
}

main.content .hotstore ul#hotStore > li > section.hotflagson .hotmiddle {
  position: absolute;
  left: 29px;
  top: 14px;
  opacity: 0;
  width: 107px;
  height: 42px;
  padding-top: 12px;
  background: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main.content .hotstore ul#hotStore > li > section.hotflagson .hotmiddle .brandchnname {
  font-size: 18px;
  text-align: center;
}

main.content .hotstore ul#hotStore > li > section.hotflagson .hotmiddle .blacksline {
  text-align: center;
  margin-top: 5px;
}

main.content .hotstore ul#hotStore > li > section.hotflagson .hotmiddle .blacksline span {
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #000;
  vertical-align: top;
}

main.content .hotstore ul#hotStore > li > section.hotflagson .topline {
  width: 0px;
  height: 1px;
  position: absolute;
  top: -1px;
  left: 0;
  background: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main.content .hotstore ul#hotStore > li > section.hotflagson .rightline {
  width: 1px;
  height: 0;
  position: absolute;
  bottom: -1px;
  right: -1px;
  background: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main.content .hotstore ul#hotStore > li > section.hotflagson .bottomline {
  width: 0px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  right: 0;
  background: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main.content .hotstore ul#hotStore > li > section.hotflagson .leftline {
  width: 1px;
  height: 0;
  position: absolute;
  top: -1px;
  left: -1px;
  background: #000;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main.content div.lifestyle ul li {
  float: left;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}

main.content div.lifestyle ul li:last-child {
  margin-right: 0;
}

main.content div.lifestyle ul li i {
  position: absolute;
  left: -402px;
  top: 0;
  width: 313px;
  height: 393px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
  transform: skewx(-25deg);
  -o-transform: skewx(-25deg);
  -moz-transform: skewx(-25deg);
  -webkit-transform: skewx(-25deg);
  -webkit-transition: 0s;
  transition: 0s;
  cursor: pointer;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}

main.content div.lifestyle ul li:hover i {
  left: 387px;
  transition: .7s;
  -moz-transition: .7s;
  -o-transition: .7s;
  -webkit-transition: .7s;
}

main.content div.shoes_content .shoes .shoes_left {
  float: left;
  width: 220px;
  height: 366px;
  border: 1px solid #ccc;
  padding: 0 9px;
  padding-top: 4px;
  margin-right: 8px;
}

main.content div.shoes_content .shoes .shoes_left .goodslinks {
  overflow: hidden;
  border-bottom: 1px dashed #d4d4d4;
  padding-bottom: 16px;
}

main.content div.shoes_content .shoes .shoes_left .goodslinks li {
  float: left;
  line-height: 36px;
  width: 110px;
  font-size: 14px;
  color: #666;
  text-align: left;
}

main.content div.shoes_content .shoes .shoes_left .shoes_bottom img {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  border: none;
  width: 90px;
  height: auto;
  margin-bottom: 12px;
  margin-left: 12px;
}

main.content div.shoes_content .shoes .shoes_center {
  float: left;
  width: 390px;
  height: 370px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-right: 8px;
  position: relative;
}

main.content div.shoes_content .shoes .shoes_center .slider_bord {
  width: 250px;
  height: auto;
  padding: 5px 0;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -125px;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  color: #000;
  font-size: 13px;
}

main.content div.shoes_content .shoes .shoes_center .slider_bord dl dd span {
  width: 20px;
  height: 2px;
  display: block;
  margin: 5px auto;
  background-color: #000;
}

main.content div.shoes_content .shoes .shoes_center .slider_bord dl dd:first-child {
  line-height: 24px;
}

main.content div.shoes_content .shoes .shoes_center .slider_bord dl dt {
  font-size: 17px;
  line-height: 17px;
}

main.content div.shoes_content .shoes .shoes_right {
  float: right;
  overflow: hidden;
  height: 372px;
  width: 562px;
}

main.content div.shoes_content .shoes .shoes_right li {
  float: left;
  width: 276px;
  height: 189px;
}

main.content div.shoes_content .shoes .shoes_right li:nth-child(odd) {
  margin-right: 7px;
}

main.content div.shoes_content .shoes .shoes_right li img {
  border: 1px solid #ccc;
}

main.content div.storesame > ul {
  overflow: hidden;
  margin-bottom: 15px;
}

main.content div.storesame > ul li {
  float: left;
  width: 398px;
  height: 30px;
  background: #999;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
}

main.content div.storesame > ul li:last-child {
  margin-right: 0;
}

main.content div.storesame > ul li.target {
  background-color: black;
}

main.content div.promotion .promotion_content .top, main.content div.promotion .promotion_content .center {
  overflow: hidden;
  margin-bottom: 10px;
}

main.content div.promotion .promotion_content .top li:nth-child(1), main.content div.promotion .promotion_content .center li:nth-child(1) {
  width: 610px;
  height: 295px;
}

main.content div.promotion .promotion_content .center li:nth-child(1) {
  width: 305px;
  height: 295px;
}

main.content div.promotion .promotion_content .bottom .left {
  overflow: hidden;
  width: 610px;
}

main.content div.promotion .promotion_content .bottom .left .big {
  float: left;
  width: 203px;
  height: 73px;
}

main.content div.promotion .promotion_content .bottom .left .big .small {
  width: 192px;
  height: 63px;
  border: 1px solid #ccc;
}

/* footer */
footer {
  height: 600px;
  background: url(../images/index/footer_message_bg.jpg) center;
  border-top: 1px solid #c9c9c9;
}

footer .content .footer_top {
  height: 116px;
  border-bottom: 1px solid #c9c9c9;
}

footer .content .footer_top ul > li {
  width: 242px;
  height: 64px;
  float: left;
  margin-top: 26px;
}

footer .content .footer_top ul > li a {
  float: left;
  overflow: hidden;
}

footer .content .footer_top ul > li div {
  display: inline-block;
  width: 160px;
  height: 48px;
  margin-top: 8px;
}

footer .content .footer_top ul > li div p {
  font-weight: bold;
  color: #000;
}

footer .content .footer_top ul > li div a {
  color: #333;
  font-size: 12px;
}

footer .content .footer_top ul > li div a:hover {
  text-decoration: underline;
}

footer .content .footer_top ul > li div a img {
  width: 64px;
  height: 64px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 5px;
  cursor: pointer;
  vertical-align: top;
}

footer .content .footer_center {
  height: 283px;
}

footer .content .footer_center ul li {
  float: left;
  width: 185px;
  overflow: hidden;
}

footer .content .footer_center ul li.pht_app {
  width: 140px;
  height: 283px;
}

footer .content .footer_center ul li.pht_weibo {
  width: 125px;
  height: 283px;
}

footer .content .footer_center ul li span.sp01 {
  font-weight: bold;
  color: #000;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

footer .content .footer_center ul li a {
  font-size: 12px;
  line-height: 24px;
}

footer .content .footer_center ul li a:hover {
  text-decoration: underline;
  color: #333;
}

footer .content .footer_bottom {
  text-align: center;
}

footer .content .footer_bottom .footer_message_btm_t {
  line-height: 66px;
  font-size: 0;
}

footer .content .footer_bottom .footer_message_btm_t a {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  border-right: solid #fff 1px;
  color: #fff;
  padding: 0 12px;
}

footer .content .footer_bottom .footer_message_btm_t a:hover {
  text-decoration: underline;
}

footer .content .footer_bottom .footer_message_btm_t a:last-child {
  border: 0;
}

footer .content .footer_bottom .footer_target a {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  border-right: solid #fff 1px;
  color: #fff;
  padding: 0 10px;
}

footer .content .footer_bottom .footer_target a:hover {
  text-decoration: underline;
}

footer .content .footer_bottom .footer_target .border0 {
  border: 0;
}

footer .content .footer_bottom .footer_target p {
  padding: 20px 0;
  color: #fff;
}

footer .content .footer_bottom a {
  display: inline-block;
  border: 0;
}
/*# sourceMappingURL=index.css.map */