@charset "UTF-8";
@import "./base";
@import "./footer";
footer {
	height: 600px;
    background: url(../images/index/footer_message_bg.jpg) center;
}

// footer header
header.login{
    width:100%;
    height:98px;
    a{
        height: 98px;
        overflow: hidden;
        vertical-align: top;
    }
    span{
        line-height: 44px;
        font-size: 22px;
        color: #999;
        vertical-align: middle;
        padding-left: 18px;
        border-left:solid #ccc 2px;
        margin-top: 27px;
        margin-left: 18px;
    }
    p{
        line-height: 98px;
        font-size: 13px;
        i{
            display: inline-block;
            width: 19px;
            height: 19px;
            padding-right: 10px;
            background-image: url(../images/index/phone-logo.png);
            background-size: 19px 19px;
            background-repeat: no-repeat;
            vertical-align: middle;
        }
    }
}

main.login{
    background: #262626;
    .content{
        background: url(../images/index/login_background1.jpg) no-repeat;
        padding: 30px 0;
        background-size: 100% 584px;
        position: relative;
        width: 1210px;
        height: 524px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin: 0 auto;
        // 登录
        .loginRight{
            width: 400px;
            margin-right: 40px;
            background: #fff;
            >ul.log-title{
                margin: 0 20px;
                margin-top: 34px;
                font-size: 20px;
                line-height: 20px;
                height: 20px;
                color: #999;
                >li{
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 400;
                    width: 49%;
                    text-align: center;
                    cursor: pointer;
                    &.list-active{
                        color: #000;
                    }
                }
            }
            >div.loginBody{
                width: 100%;
                height: 380px;
                
                .is-qcode-con{
                    padding-top: 70px;
                    width: 400px;
                    margin: 0x auto 0;
                    vertical-align: middle;
                    text-align: center;
                    .qcode-hook{
                        height: 165px;
                        display: inline-block;
                        img{
                            vertical-align: top;
                            display: inline-block;
                            transition: width .3s;
                            
                            &.qc-img{
                                margin-left: 20px;
                                height: 165px;
                                display: none;
                                width: 0px;
                                transition: width .3s;
                            }
                           
                        }
                        
                    }
                    >p{
                        padding-top: 25px;
                        font-size: 14px;
                        // color: #999999;
                        a{
                            color: #757272;
                            display: inline;
                            &.orange{
                            color: #ff9900;
                            }
                        }
                        
                    }
                    &#is_qcode_success{
                        display: none;
                    }
                    .q-faild{
                        width: 160px;
                        height: 160px;
                        background-repeat: no-repeat;
                        background-size: 160px 160px;
                        margin: 0 auto;
                        background-image: url(../images/index/qcode.png);
                        .q-faild-mk {
                            width: 160px;
                            height: 160px;
                            background-repeat: no-repeat;
                            background-size: 160px 160px;
                            margin: 0 auto;
                            .q-faild-mk-tt {
                                height: 18px;
                                line-height: 18px;
                                font-size: 18px;
                                padding: 48px 0 20px;
                                color: #fff;
                                text-align: center;
                            }
                        }
                    }
                    >p.start-text {
                        padding-top: 25px;
                        font-size: 14px;
                        color: #999999;
                        a{
                            color: #ff9900;
                        }
                    }
                }
                .is-hook {
                    height: 100%;
                    display: none;
                    #submit {
                        padding-top: 20px;
                        .inp-hook {
                            display: block;
                            margin: 0 31px;
                            margin-top: 16px;
                            width: 296px;
                            height: 48px;
                            border: 1px solid #CCC;
                            padding: 0 20px;
                            font-size: 14px;
                        }
                        .error-tip {
                            width: 338px;
                            margin: 0 31px;
                            height: 54px;
                            .error-tip-wp {
                                font-size: 0;
                                display: inline-block;
                                *zoom: 1;
                                *display: block;
                                color: #f62b0f;
                                height: 14px;
                                line-height: 14px;
                                margin: 20px 0;
                                /* cursor: pointer; */
                                display: none;
                                .tip-logo {
                                    display: inline-block;
                                    width: 14px;
                                    height: 14px;
                                    background-image: url(../images/details/close.png);
                                    background-size: 14px 14px;
                                    background-repeat: no-repeat;
                                    vertical-align: middle;
                                }
                                .tip-text {
                                    height: 14px;
                                    line-height: 14px;
                                    font-size: 14px;
                                    display: inline-block;
                                    *zoom: 1;
                                    *display: block;
                                    vertical-align: middle;
                                    margin-left: 5px;
                                }
                            }
                        }
                        .sub-btn {
                            transition: all linear 0.5s;
                            -moz-transition: all linear 0.5s;
                            -webkit-transition: all linear 0.5s;
                            -o-transition: all linear 0.5s;
                            /* display: inline-block; */
                            width: 338px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            color: #fff;
                            background: #333;
                            margin: 0 31px;
                            /* text-decoration: none; */
                            font-size: 18px;
                            border: none;
                            cursor: pointer;
                            &:hover{
                                background: #a60000;
                            }
                        }
                        .sub-bottom {
                            margin: 0 31px;
                            margin-top: 20px;
                            height: 14px;
                            line-height: 14px;
                            font-size: 0;
                            color: #999;
                            .sub-bottom-left{
                                label {
                                    display: inline-block;
                                    vertical-align: middle;
                                    *zoom: 1;
                                    *display: block;
                                    width: 14px;
                                    height: 14px;
                                    background-image: url(../images/details/is_yes_bg.png);
                                    background-size: 14px 14px;
                                    background-repeat: no-repeat;
                                    cursor: pointer;
                                    i {
                                        display: none;
                                        width: 14px;
                                        height: 14px;
                                        background-size: 14px 14px;
                                        background-repeat: no-repeat;
                                        background-image: url(../images/details/is_yes.png);
                                    }
                                }
                                P{
                                    display: inline-block;
                                    *zoom: 1;
                                    *display: block;
                                    font-size: 14px;
                                    vertical-align: middle;
                                    margin-left: 5px;
                                }
                            } 
                            .sub-bottom-right {
                                height: 100%;
                                font-size: 14px;
                                span{
                                    float: left;
                                    margin:0 3px;
                                }
                                a{
                                    float: left;
                                    color:#757272;
                                    &.rightSubmit{
                                        color: #ff9900;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .other-type{
                height: 16px;
                width: 100%;
                background: url(../images/details/other-type.jpg) 100% 100% no-repeat;
            }
            .is_ot {
                height: 74px;
                position: relative;
                margin: 0 94px;
                .ul-hook {
                    position: absolute;
                    width: 100%;
                    height: 32px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    >li {
                        height: 32px;
                        width: 33.333333333%;
                        float: left;
                        text-align: center;
                        i{
                            width: 32px;
                            height: 32px;
                            display: inline-block;
                            *zoom: 1;
                            *display: block;
                            background-repeat: no-repeat;
                            background-size: 32px 32px;
                            cursor: pointer;
                            &.is_wx {
                                background-image: url(../images/details/is_wx.png);
                                &:hover{
                                background-image: url(../images/details/is_wx_sel.png);
                                }
                            }
                            &.is_qq {
                                background-image: url(../images/details/is_qq.png);
                                &:hover{
                                    background-image: url(../images/details/is_qq_sel.png);
                                    }
                            }
                            &.is_wb {
                                background-image: url(../images/details/is_wb.png);
                                &:hover{
                                    background-image: url(../images/details/is_wb_sel.png);
                                    }
                            }
                        }
                        
                    }
                }
            }
        }
        // 注册
        .registerRight{
            width: 400px;
            margin-right: 40px;
            background: #fff;
            .register-c-right{
                padding: 0 30px;
                width: 340px;
                font-size: 0px;
                .rigister-title{
                    padding: 35px 0;
                    font-size: 20px;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    color: #000;
                }
                >form{
                    input {
                        outline: none;
                        box-shadow: none;
                        &.w300 {
                            padding: 0 19px;
                            width: 300px;
                            margin-bottom: 8px;
                        }
                        &.heig48 {
                            height: 48px;
                            border: 1px solid #ccc;
                            font-size: 14px;
                        }
                        &.w152 {
                            padding: 0 19px;
                            width: 142px;
                        }
                        &.w300 {
                            padding: 0 19px;
                            width: 300px;
                        }
                        &#pwd2{
                            margin-top: 8px;
                        }
                    }
                    .reg-errorTip{
                        .reg-errorTip-box {
                            display: none;
                            vertical-align: middle;
                            height: 14px;
                            padding: 10px 0px 10px 0px;
                            i {
                                display: inline-block;
                                width: 14px;
                                height: 14px;
                                background-size: 14px 14px;
                                background-repeat: no-repeat;
                                background-image: url(../images/details/close.png);
                                vertical-align: middle;
                                margin-right: 5px;
                            }
                        }
                        .reg-errorTip-box {
                            /* display: table-cell; */
                            display: none;
                            vertical-align: middle;
                            height: 14px;
                            padding: 10px 0px 10px 0px;
                            i {
                                display: inline-block;
                                width: 14px;
                                height: 14px;
                                background-size: 14px 14px;
                                background-repeat: no-repeat;
                                background-image: url(../images/details/close.png);
                                vertical-align: middle;
                                margin-right: 5px;
                            }
                        }
                    }
                    .codeWarpper {
                        margin-top: 8px;
                        padding-bottom: 16px;
                        input {
                            margin-right: 27px;
                            vertical-align: middle;
                        }
                        span {
                            display: inline-block;
                            vertical-align: middle;
                            width: 130px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            background-color: #f2f2f2;
                            font-size: 14px;
                            cursor: pointer;
                            color:#000;
                        }
                    }
                    .seg-tip {
                        height: 54px;
                        display: none;
                        .seg-tip-box {
                            vertical-align: middle;
                            height: 14px;
                            i {
                                display: inline-block;
                                width: 14px;
                                height: 14px;
                                background-size: 14px 14px;
                                background-repeat: no-repeat;
                                background-image: url(../images/details/tan-log.png);
                                vertical-align: middle;
                                margin-right: 5px;
                            }
                            .seg-tip-box p {
                                font-size: 14px;
                                height: 14px;
                                line-height: 14px;
                                display: inline-block;
                                *zoom: 1;
                                *display: block;
                                vertical-align: middle;
                                color: #999;
                            }
                        }
                    }
                    .rig-bottom {
                        height: 14px;
                        line-height: 14px;
                        padding-bottom: 30px;
                        label {
                            cursor: pointer;
                            display: inline-block;
                            height: 14px;
                            width: 14px;
                            background-image: url(../images/details/is_yes_bg.png);
                            background-repeat: no-repeat;
                            background-size: 14px 14px;
                            vertical-align: middle;
                            margin-right: 5px;
                            input {
                                display: none;
                            }
                            i {
                                display: inline-block;
                                width: 14px;
                                height: 14px;
                                background-repeat: no-repeat;
                                background-size: 14px 14px;
                                background-image: url(../images/details/is_yes.png);
                            }
                        }
                        a,p{
                            display: inline-block;
                            font-size: 13px;
                            height: 14px;
                            line-height: 14px;
                            vertical-align: middle;
                            &.fir-link {
                                color: #333;
                            }
                            &.sec-link {
                                color: #ff9900;
                            }
                        }
                    }
                    .sub-btn {
                        transition: all linear 0.5s;
                        -moz-transition: all linear 0.5s;
                        -webkit-transition: all linear 0.5s;
                        -o-transition: all linear 0.5s;
                        /* display: inline-block; */
                        width: 340px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        color: #fff;
                        background: #333;
                        margin: 24px 0 20px;
                        /* text-decoration: none; */
                        font-size: 18px;
                        border: none;
                        cursor: pointer;
                        &:hover {
                            background: #a60000;
                        }
                    }
                    .can-sub {
                        background: #ccc;
                    }
                }
            }
        }

    }
}

// 商品详情页面
main.details{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    margin-top: 15px;
    section.images{
        div.imgLeft{
            width: 480px;
            div.img{
                border: solid 1px #EAEAEA;
                width: 478px;
                height: 478px;
                overflow: hidden;
                text-align: center;
                position: relative;
                img{
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    margin: auto;
                    width: 478px;
                    height: auto;
                }
            }
            >.pictureWll{
                overflow: hidden;
                width: 480px;
                padding: 25px 0;
                position: relative;
                .arrLeft{
                    position: absolute;
                    top: 25px;
                    left: 0;
                    width: 15px;
                    height: 87px;
                    cursor: pointer;
                    background: transparent url(../images/index/brandstore_share.png) no-repeat -32px -362px;
                    background-color: #f2f2f2;
                }
                .picturenCenter{
                    width: 450px;
                    height: 87px;
                    padding-left: 13px;
                    overflow: hidden;
                    >ul{
                        width: 1000px;
                        height: 87px;
                        z-index: 1;
                        overflow: hidden;
                        position: relative;
                        li{
                            width: 83px;
                            height: 87px;
                            margin: 0 3px;
                            float: left;
                            text-align: center;
                            position: relative;
                            border: 1px solid #ccc;
                            img{
                                height: 85px;
                                margin: 0 auto;
                            }
                        }
                    }
                }
               
                .arrRight{
                    position: absolute;
                    top: 25px;
                    right: 0;
                    width: 15px;
                    height: 87px;
                    cursor: pointer;
                    background: transparent url(../images/index/brandstore_share.png) no-repeat -32px -362px;
                    background-color: #f2f2f2;
                }

            }
            >.new-left-content{
                padding: 20px;
                height: 20px;
                li{
                    float: left;
                    height: 20px;
                    margin-right: 20px;
                    cursor: pointer;
                    i {
                        width: 20px;
                        height: 20px;
                        background-repeat: no-repeat;
                        background-size: 20px 20px;
                        margin-right: 10px;
                        float:left;
                        &.collect {
                            background-image: url(../images/details/collect.png);
                        }
                        &.share {
                            background-image: url(../images/details/share.png);
                        }
                    }
                    p{
                        font-size: 12px;
                        color: #999;
                        margin: 0;
                        height: 20px;
                        line-height: 20px;
                        float:left;
                    }
                }
            }
        }
        div.imgRight{
            width: 560px;
            min-height: 615px;
            overflow: hidden;
            float: left;
            padding-left: 60px;
            overflow-x: hidden;
            .gd_text_con{
                position: relative;
                width: 100%;
                .goodsTitle{
                    width: 100%;
                    overflow: hidden;
                    zoom: 1;
                    line-height: 30px;
                    font-size: 18px;
                    border-bottom: 1px dotted #bfbfbf;
                    a{
                        color: #999;
                        &:hover{
                            color:#ff9900
                        }
                    }
                    h2{
                        color:#000;
                    }
                    p{
                        color: #999;
                        font-size: 12px;
                    }
                }
                .goodsPrice{
                    padding: 10px 0 10px;
                    vertical-align: middle;
                    position: relative;
                    >p{
                        color: #c8a985;
                        font-size: 28px;
                        line-height: 34px;
                    }
                    div.redCard{
                        position: relative;
                        display: inline-block;
                        cursor: pointer;
                        margin-top: 10px;
                        margin-left: 10px;
                        p{
                            display: inline-block;
                            text-align: center;
                            width: 80px;
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                            color: #fff;
                            background: #c8a985;
                            border-radius: 10px;
                        }
                        .todolist {
                            position: absolute;
                            left: 0px;
                            top: 28px;
                            width: 202px;
                            height: 124px;
                            background: #FFF;
                            z-index: 1;
                            border: 1px solid #CCC;
                            border-top: none;
                            border-radius: 3px;
                            text-align: center;
                            padding-top: 20px;
                            display: none;
                            .todolist-top {
                                position: absolute;
                                top: -6px;
                                left: 0px;
                                width: 202px;
                                height: 6px;
                                background: url(http://img550.5lux.com.cn/2017/06/13/mn/149734560273_202x6.jpg) no-repeat;
                            }
                            >p{
                                font-size: 12px;
                            }
                        }
                    }
                
                    div.qrCode{
                        float: right;
                        width: 200px;
                        height: 30px;
                        position: relative;
                        margin-top: 6px;
                        cursor: pointer;                      
                        img{
                            display: none;
                            position: absolute;
                            left: 0px;
                            top: 30px;
                            z-index: 90;
                        }
                        i{
                            display: inline-block;
                            width: 27px;
                            height: 26px;
                            background: url(../images/details/qrcode-s.jpg) no-repeat;
                        }
                        b{
                            display: inline-block;
                            width: 12px;
                            height: 26px;
                            margin: 0px 2px;
                            background: url(../images/details/bArr.png) no-repeat;
                        }
                        p{
                            width: 120px;
                            top: 0;
                            left: 43px;
                            height: 26px;
                            line-height: 26px;
                            color: rgb(102,102,102);
                        }
                        &:hover b{
                            background: url(../images/details/tArr.png) no-repeat;
                        }
                    }

                }
                .installPrice{
                    border-bottom: 1px dotted #bfbfbf;
                    .installment {
                        height: 40px;
                        line-height: 30px;
                        font-size: 12px;
                        position: relative;
                        .stage {
                            display: inline-block;
                            width: 90px;
                            padding-left: 10px;
                        }
                        .installprice {
                            font-size: 20px;
                            font-weight: bold;
                            color: #c8a985;
                        }
                        .installnum {
                            display: inline-block;
                            padding-right: 20px;
                            .installmentBox {
                                display: none;
                                position: absolute;
                                box-shadow: 0 0 3px 2px #ccc;
                                top: 0;
                                left: 240px;
                                z-index: 9;
                                background: #fff;
                                padding: 5px 10px;
                                font-size: 12px;
                                line-height: 22px;
                            }
                        }
                    }
                    .service_img{
                        position: relative;
                        >a{
                            position: absolute;
                            width: 220px;
                            height: 40px;
                            left: 71px;
                            top: 0px;
                            &.problem{
                                left: 298px;
                            }
                        }
                    }
                }
                >.color{
                    margin-top: 15px;
                    width: 100%;
                    overflow: hidden;
                    zoom: 1;
                    .colorTitle{
                        width: 80px;
                        padding-left: 13px;
                        text-align: left;
                        overflow: hidden;
                    }
                    .colorSelect{
                        width: 460px;
                        min-width: 110px;
                        position: relative;
                        ul li{
                            float: left;
                            margin: 0 13px 13px 0;
                            position: relative;
                            min-width: 32px;
                            border: 1px solid #c9c9c9;
                            a {
                                display: block;
                                /* border: 1px solid #ccc; */
                                padding: 3px 4px;
                                background-color: #fff;
                                text-align: center;
                                min-width: 22px;
                                &:hover{
                                    color: #c8a985;
                                }
                            }
                            &.target{
                                border: 1px solid #dc0000;
                            }
                        }
                    }
                }
                >.count{
                    padding-bottom: 20px;
                    margin-top: 15px;
                    border-bottom: 1px dotted #bfbfbf;
                    width: 100%;
                    overflow: hidden;
                    zoom: 1;
                    .countTitle{
                        width: 80px;
                        padding-left: 13px;
                        text-align: left;
                        overflow: hidden;
                    }
                    .conutQuantity{
                        width: 135px;
                        min-width: 110px;
                        float: left;
                        position: relative;
                        >a{
                            display: block;
                            width: 22px;
                            height: 22px;
                            position: absolute;
                            z-index: 1;
                            &.btn_reduce{
                                left: 0px;
                                background:#c8a985 url(../images/index/brandstore_share.png) no-repeat -311px -292px;
                            }
                            &.btn_add{
                                left: 72px;
                                background:#c8a985 url(../images/index/brandstore_share.png) no-repeat -268px -292px;
                            }
                        }
                        .buy_ntext {
                            display: block;
                            width: 42px;
                            height: 19px;
                            line-height: 19px;
                            vertical-align: middle;
                            font-weight: bold;
                            margin-left: 24px;
                            text-align: center;
                        }

                    }
                }
                .gd_priceCon{
                    vertical-align: middle;
                    position: relative;
                    >p{
                        color: #999;
                        >span{
                            padding-left: 13px;
                            width: 80px;
                            float: left;
                        }
                        >u{
                            color:#ff9900;
                            margin: 0 5px;
                        }
                        >a{
                            display: inline;
                        }
                    }
                }
                .purchase{
                    margin-top: 15px;
                    width: 100%;
                    overflow: hidden;
                    zoom: 1;
                    position: relative;
                    >div{
                        margin-left: 10px;
                        height: 35px;
                        &#go-by{                       
                            a{
                                display: inline-block;
                                font-size: 14px;
                                color: #c8a985;
                                line-height: 33px;
                                height: 33px;
                                width: 118px;
                                border: 1px solid #c8a985;
                                text-align: center;
                            }
                        }
                        &#shopping-bag{
                            a{
                                display: inline-block;
                                height: 35px;
                                line-height: 35px;
                                vertical-align: middle;
                                color: rgb(255, 255, 255);
                                font-family: 微软雅黑;
                                font-size: 14px;
                                cursor: pointer;
                                padding: 0px 28px 0px 52px;
                                background: rgb(200, 169, 133);
                                position: relative;
                                b{
                                    width: 25px;
                                    height: 35px;
                                    left: 24px;
                                    top: 0;
                                    display: inline-block;
                                    position: absolute;
                                    background: url(../images/index/brandstore_share.png) no-repeat -270px -335px;
                                }
                            }
                        }
                    }
                   

                }
                >ul.faith{
                    padding-top: 30px;
                    height: 48px;
                    font-size: 0;
                    >li{
                        float: left;
                        height: 48px;
                        margin-right: 40px;
                        cursor: pointer;
                        &:last-child{
                            margin-right:0;
                        }
                        i{
                            float: left;
                            width: 48px;
                            height: 48px;
                            background-repeat: no-repeat;
                            background-size: 48px 48px;
                            margin-right: 16px;
                            &.faith_one{
                                background-image: url(../images/details/guaranteed_warranty.png);                           
                            }
                            &.faith_two{
                                background-image: url(../images/details/faith_enterprise.png);
                            }
                            &.faith_thr{
                                background-image: url(../images/details/guarantee.png);
                            }
                        }
                        p{
                            font-size: 14px;
                            color: #999;
                            margin: 0;
                            height: 48px;
                            line-height: 48px;
                            float: left;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }

    section.contentTitle{
        width: 1100px;
        height: 35px;
        margin: 0 auto;
        .titleLeft{
            width: 198px;
            border: 1px solid #c9c9c9;
            float: left;
            .title_head{
                height: 33px;
                line-height: 33px;
                text-align: center;
                color: #666;
                cursor: pointer;
                position: relative;
                b{
                    width: 20px;
                    height: 33px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: url(../images/index/brandstore_share.png) no-repeat -236px -288px;
                }
            }
        }
        .titleRight{
            width: 868px;
            float: left;
            /* overflow: hidden; */
            margin-left: 30px;
            border: 1px solid #c9c9c9;
            ul.gd30btmi_swith{
                >li{
                    float: left;
                    width: 198px;
                    line-height: 33px;
                    text-align: center;
                    color: #666;
                    cursor: pointer;
                    position: relative;
                    b{
                        width: 1px;
                        display: block;
                        height: 15px;
                        top: 8px;
                        right: 0;
                        position: absolute;
                        background: #c9c9c9;
                    }
                    &._ed{
                        color: #c8a985;
                    }
                }
            }
            .gd30tbmi_qrcode {
                width: 110px;
                line-height: 33px;
                color: #666;
                position: relative;
                float: right;
                i {
                    display: inline-block;
                    width: 25px;
                    height: 33px;
                    position: absolute;
                    left: 61px;
                    top: 0;
                    background: url(../images/index/brandstore_share.png) no-repeat -190px -337px;
                }
                b {
                    display: inline-block;
                    width: 25px;
                    height: 33px;
                    position: absolute;
                    left: 86px;
                    top: 0;
                    cursor: pointer;
                    background: url(../images/index/brandstore_share.png) no-repeat -229px -288px;
                }
                .gd30tbmiq {
                    display: none;
                    width: 128px;
                    /* height: 148px; */
                    position: absolute;
                    text-align: center;
                    right: -1px;
                    top: 33px;
                    z-index: 1;
                    background: white;
                    border: 1px solid #c9c9c9;

                    >span {
                        color: #949494;
                        padding: 2px 2px;
                    }
                }
                &:hover .gd30tbmiq{
                    display: block;
                }
            }
        }
    }

    section.goodsMain{
        width: 1100px;
        margin: 0 auto;
        .goodsConLeft{
            width: 200px;
            .v30_sideitem{
                padding-top:10px; 
                >dl{
                    display: block;
                    width: 198px;
                    border: 1px solid #c9c9c9;
                    dt{
                        width: 198px;
                        text-align: center;
                        line-height: 33px;
                        color: #fff;
                        background: #bfa69a;
                        >a{
                            color: #fff; 
                        }
                    }
                    dd{
                        width: 198px;
                        text-align: center;
                        line-height: 30px;
                        color: #666;
                        clear: both;
                        margin-top: 20px;
                        >ul{
                            border-bottom: solid #e5e5e5 1px;
                            margin: 0 20px;
                            text-align: left;
                            >li:first-child{
                                >a{
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    word-break: break-all;
                                    line-height: 20px;
                                    >div{
                                        position: relative;
                                        text-align: center;
                                        >img{
                                            width: 136px;
                                            margin: 5px auto;
                                            clear: both;
                                        }
                                        >div{
                                            >img{
                                                position: absolute;
                                                left: 0px;
                                                top: 5px;
                                                width: 30px;
                                                height: 30px;
                                                margin: 0;
                                                clear: both;
                                            }
                                            >p{
                                                position: absolute;
                                                top: 5px;
                                                left: 0px;
                                                display: block;
                                                width: 18px;
                                                height: 30px;
                                                text-align: center;
                                                line-height: 20px;
                                                font-size: 12px;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                            >li:nth-child(2){
                                >a{
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;
                                    word-break: break-all;
                                    line-height: 20px;
                                }
                            }
                            >li:last-child{
                                font-family: '微软雅黑';
                                color: #c8a985;
                                padding-bottom: 20px;
                            }
                            
                        }
                    }
                }
            }
            .pt30{
                padding-top: 30px;
            }
        }
        .goodsConRight{
            width: 870px;
            padding-left: 30px;
            // overflow-x: hidden;
            >ul{
                >li{
                    display: none;
                    &.goodsBlock{
                        display: block;
                    }
                    .product-recommend {
                        margin-top: 15px;
                        .product-rec-banner {
                            width: 100%;
                            height: 314px;
                            overflow: hidden;
                            >a{
                                display: inline-block;
                                width: 100%;
                                height: 100%;
                                margin-left: 0px;
                                margin-top: 0px;
                                transition: all .5s;
                                >img{
                                    width: auto;
                                    height: 100%;
                                    margin-left: -93px;
                                    display: inline-block;
                                }
                                &:hover{
                                    width: 914px;
                                    height: 330px;
                                    margin-left: -22px;
                                    margin-top: -8px;
                                }
                            }
                        }
                        .product-rec-warp {
                            margin-top: 10px;
                            .product-rec-list {
                                width: 430px;
                                height: 321px;
                                overflow: hidden;
                                >a{
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                    margin-left: 0px;
                                    margin-top: 0px;
                                    transition: all .5s;
                                    >img{
                                        width: 100%;
                                        height: 100%;
                                    }
                                    &:hover{
                                        width: 452px;
                                        height: 337px;
                                        margin-left: -11px;
                                        margin-top: -8px;
                                    }
                                }
                            }
                        }
                    }
                    .common-detail-list{
                        .common-title {
                            width: 870px;
                            height: 98px;
                            >.common-title img {
                                height: 100%;
                            }
                        }
                        #goodstory-box{
                            border: 1px solid #CCDDFF;
                            width: 850px;
                            height: 244px;
                            margin: 0 auto;
                            background: #F5F5F5;
                            .goodstory-left {
                                width: 410px;
                                height: 244px;
                                float: left;
                            }
                            .goodstory-right {
                                width: 435px;
                                height: 244px;
                                float: right;
                                overflow: hidden;
                                .goodstory-title {
                                    width: 432px;
                                    height: 40px;
                                    line-height: 40px;
                                    text-align: center;
                                    font-size: 16px;
                                    font-weight: bold;
                                    overflow: hidden;
                                    color:#000;
                                }
                                .goodstory-content {
                                    width: 425px;
                                    height: auto;
                                    text-indent: 2em;
                                    padding: 5px;
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 8;
                                }
                            }
                        }
                        #goodsparms-box{
                            margin-left: 10px;
                            margin-right: 5px;
                            >span{
                                display: block;
                                width: 280px;
                                height: 28px;
                                line-height: 28px;
                                margin-bottom: 5px;
                                margin-right: 5px;
                                margin-top: 0;
                                float: left;
                                background: #f2f2f2;
                                text-indent: 1.66666666em;
                                color: #000;
                            }
                        }
                        #goodsimgshow-box{
                            .goodsimgshow-content {
                                display: block;
                                margin: 0 60px;
                                text-align: center;
                                >img{
                                    max-width: 750px;
                                    vertical-align: top;
                                }
                            }
                        }
                        #realproduct-box{
                           .realproduct-content {
                                width: 870px;
                                height: 314px;
                                overflow: hidden;
                                >a{
                                    cursor: pointer;
                                    display: inline-block;
                                    width: 100%;
                                    height: 100%;
                                    margin-left: 0px;
                                    margin-top: 0px;
                                    transition: all .5s;
                                    >img{
                                        width: 100%;
                                        height: 100%;
                                        vertical-align: top;
                                    }
                                    &:hover{
                                        width: 914px;
                                        height: 330px;
                                        margin-left: -22px;
                                        margin-top: -8px;
                                    }
                                }
                            }
                        }
                        #five-banner{

                        }
                        .bot{
                            >a{
                                display: block;
                                margin-top: 20px;
                            }
                            >div{
                                overflow: hidden;
                                margin-right: -10px;
                                >a{
                                    display: block;
                                    margin-top: 20px;
                                    width: 430px;
                                    float: left;
                                    margin-right: 10px;
                                    overflow: hidden;
                                    >img{
                                        width: 430px;
                                        height: 321px;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

// 购物车页面
main#cart{
    width: 1190px;
    margin: 20px auto;
    padding: 10px 0 0 0;
    overflow: hidden;
    >p{
        background: url(../images/details/cart_step.jpg) no-repeat;
        width: 700px;
        height: 47px;
        float: right;
        _display: inline;
        margin: 0px 0px 30px 0px;
    }
    >clear{
        clear: both;
    }
    #cart_tbody{
        position: relative;
        .cart_goods{
            width: 1190px;
            border-collapse: collapse;
            tbody{
                tr{
                    th{
                        height: 40px;
                        line-height: 40px;
                        font-size: 14px;
                        font-weight: normal;
                        text-align: center;
                        font-family: "微软雅黑";
                        background: #ebeaea;
                        &.cart_tcheck{
                            width: 80px;
                            text-align: left;
                            padding-left: 12px;
                            .cart_tfinput {
                                margin-right: 10px;
                            }
                        }
                        &.cart_operate {
                            text-align: left;
                        }
                    }   
                    td{
                        border-top: #b3b3b3 solid 1px;
                        border-bottom: #b3b3b3 solid 1px;
                        text-align: center;
                        &.tr_lineleft {
                            text-align: left;
                            padding-left: 12px;
                        }
                        img {
                            width: 95px;
                            height: 95px;
                        }
                        .cart_goods_num{
                            overflow: hidden;
                            margin: 0 auto;
                            width: 118px;
                            text-align: center;
                            >a {
                                display: inline-block;
                                font-size: 14px;
                                background-color: #fff;
                                width: 20px;
                                height: 20px;
                                line-height: 20px;
                                vertical-align: middle;
                                color: #fff;
                                float: left;
                                margin: 0;
                                background-color: #c8a985;
                            }
                            >input {
                                display: inline-block;
                                border: #9d9d9d solid 1px;
                                width: 50px;
                                height: 18px;
                                line-height: 18px;
                                vertical-align: middle;
                                float: left;
                                text-align: center;
                            }
                        }
                    }               
                }
            }
        }
    }
}

